header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: antiquewhite;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
}

.logo-and-menu {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

.logo,
.menu-icon {
  height: 24px;
}

.nav-links {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.links-list,
.language-and-social-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.language-and-social-lists {
  gap: 1rem;
}

.language-and-social-lists ul {
  display: flex;
  gap: 0.25rem;
}

.nav-links.show {
  padding-block: 1rem;
  max-height: 350px;
}

button {
  display: flex;
  border: none;
  background: none;
  padding: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

.active {
  font-weight: 700;
}

.language-button {
  font-size: inherit;
}

.social-list li,
.social-list li > a,
.language-list li {
  display: flex;
  height: fit-content;
}

.language-and-social-lists .social-list {
  gap: 1rem;
}

.language-list {
  line-height: 0.875rem;
  font-size: 0.875rem;
}

.language-list p {
  margin: 0;
  font-size: 0.85em;
  line-height: 12px;
}

@media (min-width: 768px) {
  .wrapper,
  .links-list,
  .language-and-social-lists {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .links-list,
  .language-and-social-lists {
    gap: 2rem;
  }

  .menu-button {
    display: none;
  }

  .nav-links {
    display: contents;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}
