---
import Section from '../../Common/Section/Section.astro'
import { t } from 'i18next'
import LanguageCard from './LanguageCard/LanguageCard.astro'
---

<Section id="about_me">
  <!-- Stack i algo més? -->
  <h3>Stack</h3>
  <div class="stack__languages">
    <LanguageCard language="HTML" icon="teenyicons:html5-solid" />
    <LanguageCard language="CSS" icon="teenyicons:css3-solid" />
    <LanguageCard language="JavaScript" icon="teenyicons:javascript-solid" />
    <LanguageCard language="TypeScript" icon="teenyicons:typescript-solid" />
    <LanguageCard language="React" icon="teenyicons:react-solid" />
    <LanguageCard language="NextJS" icon="teenyicons:nextjs-solid" />
    <LanguageCard language="TailwindCSS" icon="teenyicons:tailwind-solid" />
  </div>
  <h3>Employment History</h3>
  <div class="employment_card">
    <h2>eCommerce Developer at Trilogi - The eCommerce Agency, Igualada</h2>
    <p class="dates">September 2021 - Present</p>
    <ul>
      <li>Implemented tailored web designs from Figma to HTML, CSS and JS.</li>
      <li>Worked with PHP template engines such as Twig.</li>
      <li>
        Helped to achieve nice User Experiences translating the designs hand by
        hand with the designers.
      </li>
    </ul>
  </div>
  <h3>Education</h3>
  <div class="employment_card">
    <h2>
      Bachelor's degree in Digital Interaction and Computing Techniques,
      Universitat de Lleida
    </h2>
    <p class="dates">September 2019 - June 2022</p>
    <p>Graduated with High Honors.</p>
  </div>
</Section>

<style>
  @custom-media --md-screen (min-width: 768px);
  @custom-media --lg-screen (min-width: 1200px);
  .stack__languages {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--items-min-width), 1fr)
    );
    --items-min-width: 150px;
    gap: 1rem;
    @media (--md-screen) {
      --items-min-width: 200px;
    }
  }

  h3 {
    margin-block: 3rem 1.5rem;
  }

  h3:first-of-type {
    margin-block-start: 0;
  }

  .employment_card {
    @media (--md-screen) {
      padding-inline: 1rem;
    }

    & h2 {
      font-size: 1.15rem;
      font-weight: 700;

      @media (--md-screen) {
        font-size: 1.25rem;
      }
    }

    & .dates {
      color: var(--color-gray);
      font-size: 0.9rem;
      margin-block: 0.75rem;
    }

    & p:not(.dates) {
      margin-block: 0.4rem;
      font-size: 1.1rem;
    }

    & ul {
      list-style: disc;
      padding-left: 1.5rem;

      @media (--md-screen) {
        padding-inline: 2.5rem;
      }

      & li {
        margin-block: 0.4rem;
        font-size: 1.1rem;
      }
    }
  }
</style>
