---
export interface LanguageTagProps {
  language: string
}

const { language } = Astro.props
---

<div><p>{language}</p></div>

<style>
  @custom-media --md-screen (min-width: 768px);

  p {
    display: flex;
    font-size: 0.875rem;
    color: var(--color-text);

    @media (--md-screen) {
      font-size: 1rem;
    }
  }
  div {
    display: flex;
    /* background-color: #eaeef2; */
    background-color: rgb(var(--color-text-rgb), 0.05);
    /* background-color: red; */
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    width: fit-content;
  }
</style>
