---
import Section from '../../Common/Section.astro'
import projects_data from '../../../data/projects_data.json'
import type { ProjectProps } from './ProjectCard/ProjectCard.astro'
import ProjectCard from './ProjectCard/ProjectCard.astro'

const { projects } = projects_data
---

<script>
  const projectCardsIntersectionObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach(({ target, isIntersecting }) => {
        if (isIntersecting) {
          target.classList.add('show')
        }
        // target.classList.toggle('show', isIntersecting)
      })
    },
    {
      threshold: 0.5,
    }
  )
  const hiddenProjectCards = document.querySelectorAll('article.card')
  hiddenProjectCards.forEach((section) => {
    projectCardsIntersectionObserver.observe(section)
  })
</script>

<Section id="work">
  <div class="grid">
    {projects.map((project: ProjectProps) => <ProjectCard project={project} />)}
  </div>
</Section>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 312px);
    justify-content: center;
    grid-gap: 3rem;
  }
</style>
