---
interface Props {
  label: string
  href: string
  theme?: string
}
const { label, href, theme = 'primary' } = Astro.props
---

<a href={href} class={`${theme}`}>{label}</a>

<style>
  a {
    min-width: 64px;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 600;
  }

  a.primary {
    color: var(--color-white);
    background-color: var(--color-black);
    border: 1px solid var(--color-white);
  }

  a.secondary {
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
  }
</style>
