---
import { Trans } from 'astro-i18next/components'
import { t, setDefaultNamespace } from 'i18next'
import ScrollDownLink from './ScrollDownLink.astro'

setDefaultNamespace('hero')
---

<script>
  document.addEventListener('mousemove', (e) => {
    const mouseX = e.clientX
    const mouseY = e.clientY
    const width = e.view?.innerWidth
    const height = e.view?.innerHeight

    const dot = document.getElementById('dot')
    if (window.matchMedia('(hover: hover)') && dot && height && width) {
      dot.style.top = `${height - mouseY}px`
      dot.style.left = `${width - mouseX}px`
    }
  })
</script>

<section>
  <img src="/xavi.webp" alt="" width="368" height="552" />
  <div class="text">
    <h1>
      <Trans i18nKey="headline">
        Hi, I'm Xavi and I'm <br /> a <span>Junior Frontend Developer</span>.
      </Trans>
    </h1>
    <p class="subheadline">
      {t('subHeadline')}
    </p>
  </div>
  <ScrollDownLink />
  <div id="dot" class="dot" style="top: 15%; left: 15%"></div>
</section>

<style>
  @custom-media --md-screen (min-width: 768px);
  @custom-media --lg-screen (min-width: 1200px);

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    max-width: 70rem;
    margin-inline: auto;
    min-height: 100vh;
    padding-inline: 1rem;

    @media (--md-screen) {
      flex-direction: row;
      text-align: start;
      gap: 2rem;
    }

    @media (--lg-screen) {
      gap: 4rem;
    }
  }

  img {
    max-width: 18rem;
    width: 70%;

    @media (--md-screen) {
      max-width: 23rem;
      width: 40%;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40rem;
    width: 100%;

    @media (--md-screen) {
      width: fit-content;
    }
  }

  h1 {
    font-size: 1.6rem;
    font-size: clamp(
      1.6rem,
      1.1699346405228759rem + 1.8300653594771243vw,
      3rem
    );
    font-weight: 900;

    @media (--md-screen) {
      width: fit-content;
    }
  }

  p {
    font-size: 0.875rem;
    font-size: clamp(
      0.875rem,
      0.8366013071895425rem + 0.16339869281045752vw,
      1rem
    );
    line-height: 1.15rem;
    color: var(--color-accent);

    @media (--md-screen) {
      max-width: 90%;
      line-height: 1.25rem;
    }
  }

  .links {
    margin-block-start: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    @media (--md-screen) {
      max-width: 350px;
    }
  }

  .dot {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-accent);
    filter: blur(50px);
    z-index: -1;
  }
</style>
