---
import { Trans } from 'astro-i18next/components'
import { t, setDefaultNamespace } from 'i18next'
import ScrollDownLink from './ScrollDownLink.astro'

setDefaultNamespace('hero')
---

<script>
  document.addEventListener('mousemove', (e) => {
    const mouseX = e.clientX
    const mouseY = e.clientY
    const width = e.view?.innerWidth
    const height = e.view?.innerHeight

    const dot = document.getElementById('dot')
    if (window.matchMedia('(hover: hover)').matches && dot && height && width) {
      dot.style.top = `${height - mouseY - dot.clientHeight}px`
      dot.style.left = `${width - mouseX - dot.clientWidth}px`
    }
  })
</script>

<section>
  <img src="/xavi.webp" alt="" width="368" height="552" />
  <div class="text">
    <h1>
      <Trans i18nKey="headline">
        Hi, I'm Xavi and I'm <br /> a <span>Junior Frontend Developer</span>.
      </Trans>
    </h1>
    <p class="subheadline">
      <Trans i18nKey="subHeadline">
        Soy un desarrollador de aplicaciones, especializado en <span
          >frontend</span
        >. <br /> Aprendiendo de forma <span>autodidacta</span> desde los 15 años.<br
        />En mi tiempo libre me gusta descubrir las nuevas <span
          >tendencias</span
        >
        en el mundo de la programación, las tecnologias <span
          >cross-platform</span
        >, aprender sobre diseño <span>UI/UX</span>.
      </Trans>
    </p>
  </div>
  <ScrollDownLink />
  <div id="dot" class="dot" style="top: 15%; left: 15%"></div>
</section>

<style>
  /* Fluid typo calculator: https://royalfig.github.io/fluid-typography-calculator/ */

  @custom-media --md-screen (min-width: 768px);
  @custom-media --lg-screen (min-width: 1200px);

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    max-width: 70rem;
    margin-inline: auto;
    min-height: 100dvh;
    padding-inline: 1rem;

    @media (--md-screen) {
      flex-direction: row;
      text-align: left;
      gap: 2rem;
    }

    @media (--lg-screen) {
      gap: 4rem;
    }
  }

  img {
    max-width: 18rem;
    width: 60%;
    height: auto;
    object-fit: contain;

    @media (--md-screen) {
      max-width: 23rem;
      width: 40%;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 40rem;
    width: 100%;

    @media (--md-screen) {
      width: fit-content;
    }
  }

  h1 {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    font-size: 2.5rem;
    font-size: clamp(2.5rem, 2.4rem + 0.5vw, 3rem);
    font-weight: 900;

    & span {
      font-size: 1.6rem;
      font-size: clamp(
        1.6rem,
        1.4200000000000002rem + 0.8999999999999999vw,
        2.5rem
      );
    }

    @media (--md-screen) {
      width: fit-content;
    }
  }

  .subheadline {
    max-width: 80ch;
    font-size: 1rem;
    font-size: clamp(1rem, 0.97rem + 0.1499999999999999vw, 1.15rem);
    line-height: 1.15;

    & span {
      color: var(--color-accent);
      font-weight: 600;
    }
  }

  .dot {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-accent);
    filter: blur(50px);
    z-index: -1;
  }
</style>
