---
interface Props {
  id: string
  description?: boolean
}
const { id, description = true } = Astro.props

import { t, setDefaultNamespace } from 'i18next'

setDefaultNamespace(id)
const descriptionTextAlign = description ? 'start' : 'center'
---

<section class="section" id={id}>
  <h2 class="section__title">{t('title')}</h2>
  {description ? <p class="section__description">{t('description')}</p> : null}
  <div class="section__content">
    <slot />
  </div>
</section>

<style is:global define:vars={{ descriptionTextAlign }}>
  @custom-media --md-screen (min-width: 768px);

  .section {
    --section-spacing: 4rem;
    min-height: 30vh;
    width: min(85%, 75rem);
    margin-inline: auto;
    padding-block: var(--section-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (--md-screen) {
      --section-spacing: 8rem;
    }
  }

  h2.section__title {
    font-size: 2.5rem;
    font-weight: 900;
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  .section__description {
    margin-block-start: 1.5rem;
    text-align: center;

    @media (--md-screen) {
      margin-block-start: 1.5rem;
      white-space: pre-wrap;
    }
  }

  .section__content {
    margin-block-start: 3rem;
    width: 100%;
    text-align: var(--descriptionTextAlign);
  }

  .section__content > a:not(.btn) {
    text-decoration: underline;
  }
</style>
