---
interface Props {
  id: string
}
const { id } = Astro.props

import { t, setDefaultNamespace } from 'i18next'

setDefaultNamespace(id)
---

<section class="section" id={id}>
  <h2 class="section__title">{t('title')}</h2>
  {
    t('description') != 'description' && (
      <p class="section__description">{t('description')}</p>
    )
  }
  <div class="section__content">
    <slot />
  </div>
</section>

<style>
  .section {
    min-height: 100vh;
    padding-block-start: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section__title {
    font-size: 2.5rem;
    font-weight: 900;
  }

  .section__description {
    margin-block-start: 1.5rem;
  }

  .section__content {
    margin-block-start: 3rem;
    width: 100%;
  }

  @media (min-width: 760px) {
    .section__description {
      margin-block-start: 1.5rem;
      white-space: pre-wrap;
    }
  }
</style>
