---
import './Header.css'
---

<header>
  <div class="logo">
    <h1 class="brand">XV</h1>
  </div>
  <div class="links">
    <nav class="menu">
      <input type="checkbox" id="menuToggle" />
      <label for="menuToggle" class="menu-icon"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="burger-toggle"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </label>
      <ul>
        <a href="#"><li>Work</li></a>
        <a href="#"><li>Resume</li></a>
        <a href="#"><li>Contact</li></a>
      </ul>
      <ul>
        <li>patata</li>
      </ul>
    </nav>
  </div>
</header>
