---
import './Header.css'
import { t } from 'i18next'
import { LanguageSelector } from 'astro-i18next/components'
---

<script is:inline>
  const intersectionObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach(({ target, isIntersecting }) => {
        const navLink = document.querySelector(`a[href='#${target.id}']`)
        navLink?.classList.toggle('active', isIntersecting)
      })
    },
    {
      threshold: 0.5,
    }
  )
  document.addEventListener('DOMContentLoaded', () => {
    const sections = document.querySelectorAll('.section')
    sections.forEach((section) => {
      intersectionObserver.observe(section)
    })
  })
</script>

<header>
  <div class="wrapper">
    <img class="logo" src="/public/XV.svg" alt="Xavi Vila logo" />
    <input type="checkbox" id="menuToggle" />
    <label for="menuToggle" class="menu-label">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="menu-icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h8m-8 6h16"></path>
      </svg>
    </label>
    <nav class="nav-links">
      <ul>
        <li><a href="#section1">{t('navbar.work')}</a></li>
        <li><a href="#section2">{t('navbar.resume')}</a></li>
        <li><a href="#section3">{t('navbar.contact')}</a></li>
      </ul>
      <div class="language-and-social-lists">
        <ul class="language-list">
          <li><button onclick="location = '/' ">EN</button></li>
          <li><button onclick="location = '/es/' ">ES</button></li>
          <LanguageSelector showFlag={true} class="my-select-class" />
        </ul>
        <ul class="social-list">
          <li>
            <a href="https://github.com/XavierVilaRubio" target="_blank">
              <img
                class="icon"
                src="/public/icons/github.svg"
                alt="GitHub logo"
              />
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/in/XavierVilaRubio" target="_blank">
              <img
                class="icon"
                src="/public/icons/linkedin.svg"
                alt="Linkedin logo"
              />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
