---
import { localizePath } from 'astro-i18next'
import i18next from 'i18next'
import Icon from 'astro-icon'
import { t, setDefaultNamespace } from 'i18next'
import ThemeSwitch from './ThemeSwitch.astro'

const { pathname } = Astro.url
setDefaultNamespace('common')
---

<script>
  const intersectionObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach(({ target, isIntersecting }) => {
        const navLink = document.getElementById(`${target.id}-link`)
        navLink?.classList.toggle('active', isIntersecting)
      })
    },
    {
      threshold: 0.6,
    }
  )
  const sections = document.querySelectorAll('section')
  sections.forEach((section) => {
    intersectionObserver.observe(section)
  })

  document
    .getElementById('menu-button')
    ?.addEventListener('click', () =>
      document.getElementById('nav-links')?.classList.toggle('show')
    )
  document.querySelectorAll('.nav-link').forEach((link) => {
    link.addEventListener('click', () =>
      document.getElementById('nav-links')?.classList.remove('show')
    )
  })
</script>

<header>
  <div class="wrapper">
    <div class="logo-and-menu">
      <a href={localizePath('/#').slice(0, -1)}>
        <img
          class="logo"
          src="/XV.svg"
          alt="Xavi Vila logo"
          width="48"
          height="24"
        />
      </a>
      <button class="menu-button" id="menu-button" aria-label="Menu">
        <Icon class="menu-icon" name="eva:menu-outline" />
      </button>
    </div>
    <nav class="nav-links" id="nav-links">
      <ul class="links-list">
        {
          ['projects', 'about_me', 'contact'].map((key) => (
            <li class="links-list-item">
              <a
                href={localizePath(`/#${key}`).slice(0, -1)}
                id={`${key}-link`}
                class="nav-link"
              >
                {t(`navbar.${key}`)}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="language-and-social-lists">
        <ul class="language-list">
          <li>
            <a
              href={localizePath(pathname, 'en')}
              hreflang="en"
              class={`language-link ${
                i18next.resolvedLanguage === 'en' ? 'active' : ''
              }`}>EN</a
            >
          </li>
          <li><p>|</p></li>
          <li>
            <a
              href={localizePath(pathname, 'es')}
              hreflang="es"
              class={`language-link ${
                i18next.resolvedLanguage === 'es' ? 'active' : ''
              }`}>ES</a
            >
          </li>
        </ul>
        <ul class="social-list">
          <li>
            <a
              href="https://github.com/XavierVilaRubio"
              target="_blank"
              aria-label="Go to Xavier's GitHub page"
            >
              <Icon class="icon" name="eva:github-outline" />
            </a>
          </li>
          <li>
            <a
              href="https://linkedin.com/in/XavierVilaRubio"
              target="_blank"
              aria-label="Go to Xavier's LinkedIn page"
            >
              <Icon class="icon" name="eva:linkedin-outline" />
            </a>
          </li>
        </ul>
        <ThemeSwitch />
      </div>
    </nav>
  </div>
</header>

<style>
  @custom-media --md-screen (min-width: 768px);
  @custom-media --lg-screen (min-width: 1200px);

  header {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background: #fff;
    background: linear-gradient(
      180deg,
      var(--color-background) 0%,
      rgba(var(--color-background-rgb), 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    );

    z-index: 1;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;

    @media (--md-screen) {
      padding-inline: 2rem;
    }
  }

  .logo-and-menu {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
  }

  .logo,
  .menu-icon {
    height: 24px;
  }

  li,
  a {
    display: flex;
  }

  .nav-links {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;

    @media (--md-screen) {
      display: contents;
    }
  }

  .links-list,
  .language-and-social-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .links-list {
    @media (--md-screen) {
      gap: 4rem;
    }
    @media (--lg-screen) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .language-and-social-lists {
    gap: 1rem;
    @media (--md-screen) {
      gap: 2rem;
    }
  }

  .wrapper,
  .links-list,
  .language-and-social-lists {
    @media (--md-screen) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  ul {
    display: flex;
  }

  .language-list {
    gap: 0.25rem;
  }

  .nav-links.show {
    padding-block: 1rem;
    max-height: 350px;
  }

  button,
  .language-link {
    display: flex;
    border: none;
    background: none;
    padding: 0;
  }

  .icon {
    --size: 1.25rem;
    width: var(--size);
    height: var(--size);

    @media (--md-screen) {
      --size: 1.15rem;
    }
  }
  .active,
  .links-list > li > a:hover,
  .language-list > li > a:hover,
  .social-list > li > a:hover {
    color: var(--color-accent);
    transition: color 0.3s ease;
  }

  .social-list li,
  .social-list li > a,
  .language-list li {
    height: fit-content;
  }

  .language-and-social-lists .social-list {
    gap: 0.75rem;
  }

  .language-list {
    line-height: 0.875rem;
    font-size: 0.875rem;
  }

  .language-list p {
    font-size: 0.85em;
  }

  .menu-button {
    @media (--md-screen) {
      display: none;
    }
  }
</style>
